<%- include('../partials/header') %>

<form id="new-form" action="/flights" method="POST">
  <label>Airline:</label>
  <select name="airline">
    <option value="American">American Airlines</option>
    <option value="Southwest">Southwest</option>
    <option value="United">United</option>
  </select>
  <label>Airport:</label>
  <select name="airport">
    <option value="AUS">AUS</option>
    <option value="DEN">DEN</option>
    <option value="DFW">DFW</option>
    <option value="LAX">LAX</option>
    <option value="SAN">SAN</option>
  </select>
  <label>Flight Number:</label>
  <input type="number" name="flightNo">
  <label for="departs">Departs:</label>
  <input type="datetime-local" id="departs"
  name="departs" value="2020-05-25T00:00"
  min="2020-05-25T00:00" max="2030-05-25T00:00"><br><br>
  <input type="submit" value="Add Flight">
</form>

<%- include('../partials/footer') %>